/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 ene. 2023, 11:04:37
    Author     : joelorrala
*/
#idGracias{
    -fx-font-size: 30px;
    -fx-font-family: "Impact";
    -fx-text-fill: #e67e22;
    -fx-font-weight: bold;
}

#lblMensajeDespedida{
    -fx-font-size: 13px;
    -fx-font-family: "Georgia";
}