/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 ene. 2023, 00:25:22
    Author     : joelorrala
*/

#lblTitulo{
    -fx-font-size: 35px;
    -fx-font-family: "Impact";
    -fx-text-fill: #eb984e;
    -fx-font-weight: bold;
}

#btnLimpiar{
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: "Georgia";
    -fx-background-color: #f0b27a;
}

#btnContinuar{
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: "Georgia";
    -fx-background-color: #f0b27a;
}

#lblOpciones{
    -fx-font-size: 20px;
    -fx-font-family: "Impact";
    -fx-text-fill: #eb984e;
    -fx-font-weight: bold;
}

#lblPedido{
    -fx-font-size: 20px;
    -fx-font-family: "Impact";
    -fx-text-fill: #eb984e;
    -fx-font-weight: bold;
}

#lbldat1{
    -fx-font-size: 14px;
    -fx-font-family: "Impact";
    -fx-text-fill: #eb984e;
    -fx-font-weight: bold;
}

#lbldat2{
    -fx-font-size: 14px;
    -fx-font-family: "Impact";
    -fx-text-fill: #eb984e;
    -fx-font-weight: bold;
}

#lbldat3{
    -fx-font-size: 14px;
    -fx-font-family: "Impact";
    -fx-text-fill: #eb984e;
    -fx-font-weight: bold;
}

#lblTipo{
    -fx-font-size: 14px; 
    -fx-font-family: "Georgia"; 
    -fx-font-weight: bold
}

#lblOrdenar{
    -fx-font-size: 14px; 
    -fx-font-family: "Georgia"; 
    -fx-font-weight: bold
}