/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 ene. 2023, 17:42:58
    Author     : joelorrala
*/

.root {
     -fx-background-image: url("fondHambur.jpg");
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: "Georgia";
    -fx-background-color: #e67e22;
}

#lblElije{
    -fx-font-size: 12px;
    -fx-font-family: "Georgia";
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#lblBienvenida{
    -fx-font-size: 20px;
    -fx-font-family: "Impact";
    -fx-text-fill: #e67e22;
    -fx-font-weight: bold;
}